body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background: #efefef;
    color: black;
    padding: 1em 2em;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

div#footer {
    font-size: 0.8em;
    margin-top: 1em;
    text-align: right;
    border-top: 1px solid grey;
    padding-top: 1em;
}

div#menu {
    border-radius: 2em 0em 0em 0em;
    background: white url(images/padlock2.png) no-repeat 1em 1em;
    float: left;
    width: 10em;
    border: 1px solid grey;
    padding: 10em 0em 1em 0em;
    margin-bottom: 1em;
    font-size: 0.9em;
}

div#menu a {
    display: block;
    font-weight: bold;
    padding: 0em 1em;
}
div#menu a:hover {
    background: #77f;
    color: white;
}

div#content {
    border-radius: 0em 3em 0em 0em;
    margin-left: 10em;
    border: 1px solid grey;
    padding: 0.5em 2em;
    background: white;
    max-width: 45em;
}

input.iesux {
    width: 10em;
}

.photobox {
    position: absolute; 
    top: 0px; 
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    padding-top: 1em;
    text-align: center;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
}

.msgInfo, .msgWarning, .msgCritical {
    border-radius: 0em 2em 0em 0em;
    padding: 1em;
    font-weight: bold;
    margin: 1.5em 0em 2em 0em;
    padding-left: 80px;
    min-height: 48px;
}

.msgInfo {
    background: #efefef url(images/msgInfo.png) no-repeat 1em 1em;
    border: 1px solid grey;
}

.msgWarning {
    background: #fdd url(images/msgWarning.png) no-repeat 1em 1em;
    border: 1px solid #c88;
}

.msgCritical {
    background: #fdd url(images/msgCritical.png) no-repeat 1em 1em;
    border: 1px solid #c88;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0.5em 0em;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}


th {
    text-align: right;
}

table.userlist tr:nth-child(2n-1) {
	background-color: #f4f4f4;
}

table.userlist td {
    padding: 0.2em 2em 0.2em 1em;
    min-width: 2em;
    white-space: nowrap;
}

table.userlist a img {
    border: 0px;
}

.instructions {
    border: 1px solid grey;
    background: #ffffbb;
    /* position: absolute; */
    display: none;
    width: 35em;
    box-shadow: 5px 5px 5px #aaa;
}
.instructioncontents {
    padding: 0em 1em 1em 1em;
}
.closebutton {
    float: right;
    margin: 4px;
    background: url(images/dialog-close.png) #77f no-repeat;
    font-size: 0.8em;
    border: 2px outset #ccc;
    width: 16px;
    height: 16px;
}
.closebutton:hover {
    cursor: pointer;
    background: url(images/dialog-close.png) #f55 no-repeat;
    color: white;
}
.closebutton:active {
    border: 2px inset #aaa;
    background: url(images/dialog-close.png) #a22 no-repeat;
}
div.navbarContainer {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    background: #f4f4f4;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
}
.navbar {
    border-collapse: collapse;
}
.navbar td {
    text-align: center;
    white-space: nowrap;
    padding: 0em;
    margin: 0em;
}
.navbar td a {
    display: block;
    min-width: 2em;
    padding: 0.2em 0.5em;
}
.navbar td a:hover {
    background: #ddd;
}
.navbar td.current {
    background: #ddd;
    min-width: 2em;
    padding: 0.2em 0.5em;
}
.navbar td.spacer {
    width: 3em;
}

